.gallery-page-mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: var(--alt-bg);
    align-items: center;
    justify-content: center;

    .newsWrapperMobile {
        display: flex;
        z-index: 1;
        align-items: center;
        justify-content: center;
        margin-top: 25%;
        transform: rotate(-0.75deg);
        .news-painting-mobile {
            width: 75%;
            height: auto;
            object-fit: contain;
            display: block;
            z-index: 1;
        }
    }
    .squiggleWrapperMobile {
        display: flex;
        width: 100%;
        z-index: 1;
        align-items: center;
        justify-content: center;
        margin-top: 8%;
        .squiggle-painting-mobile {
            width: 75%;
            height: auto;
            object-fit: contain;
            display: block;
            z-index: 1;
        }
    }
    .boxImageWrapperMobile {
        display: flex;
        width: 100%;
        z-index: 1;
        align-items: center;
        justify-content: center;
        margin-top: 8%;
        transform: rotate(-1.25deg);
        .box-painting-mobile {
            width: 85%;
            height: auto;
            object-fit: contain;
            display: block;
            z-index: 1;
        }
    }
    .weatherImageWrapperMobile {
        display: flex;
        width: 100%;
        z-index: 1;
        align-items: center;
        justify-content: center;
        margin-top: 8%;
        transform: rotate(0.25deg);
        .weather-painting-mobile {
            width: 75%;
            height: auto;
            object-fit: contain;
            display: block;
            z-index: 1;
        }
    }
    .oceanImageWrapperMobile {
        display: flex;
        width: 100%;
        z-index: 1;
        align-items: center;
        justify-content: center;
        margin-top: 8%;
        transform: rotate(-0.15deg);
        .ocean-painting-mobile {
            width: 85%;
            height: auto;
            object-fit: contain;
            display: block;
            z-index: 1;
        }
    }
    .redlineWrapperMobile {
        display: flex;
        width: 100%;
        z-index: 1;
        align-items: center;
        justify-content: center;
        margin-top: 8%;
        transform: rotate(0.35deg);
        .red-painting-mobile {
            width: 75%;
            height: auto;
            object-fit: contain;
            display: block;
            z-index: 1;
        }
    }
  }
