
body{
    margin: 0px;
    overflow: hidden; /* Hide scrollbars */
    cursor: wait;
    font-family: var(--inter)
}

:root {
  --bg: #f0ead6;
  --alt-bg: #141516;
  --sig-green: #65695a;
  --blue: #0078b3;
  --pink: #ef606f;
  --light-text: #fffafa;
  --dark-text: #292929;
}

@media (max-width: 768px) {
    html, body {
      font-size: 14px; /* Slightly smaller base font size for mobile */
    }
  }