.transitionContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  pointer-events: none;
}

.liquidContainer {
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

// Liquid drip animation styles
.blobs {
  filter: url('#goo');
  width: 100%;
  height: 100%;
  position: relative;
}

.liquid {
  width: 120%;
  height: 10px;
  position: absolute;
  top: -2%;
  left: -10%;
  background: var(--sig-green);
  border-radius: 10%;
  animation: liquid 1.0s forwards;
}

.blob {
  width: 30px;
  height: 30px;
  margin: 0 5px 0px 0;
  background: var(--sig-green);
  border-radius: 50%;
  position: absolute;
  top: 0;
  animation: drip_one 1.0s forwards;

  // Vary blob sizes and animations
  &:nth-of-type(1) {
    left: 30%;
    height: 56px;
    animation: drip_one 1.0s forwards;
  }
  &:nth-of-type(2) {
    left: 28%;
    height: 56px;
    animation: drip_one_two 1.0s forwards;
  }
  &:nth-of-type(3) {
    left: 25%;
    height: 200px;
    animation: drip_one_two_three 1.0s forwards;
  }
  &:nth-of-type(4) {
    left: 32%;
    height: 200px;
    animation: drip_one_two_three_four 1.0s forwards;
  }
  &:nth-of-type(5) {
    left: 30%;
    height: 200px;
    animation: drip_one_two_three_four 1.0s forwards;
  }

  &:nth-of-type(6) {
    left: 40%;
    height: 100px;
    animation: drip_plug_one 1.0s forwards;
  }
  &:nth-of-type(7) {
    left: 25%;
    height: 100px;
    animation: drip_plug_two 1.0s forwards;
  }
  &:nth-of-type(8) {
    left: 25%;
    height: 100px;
    animation: drip_plug_three 1.0s forwards;
  }


  &:nth-of-type(9) {
    left: 60%;
    height: 56px;
    animation: drip_one 1.0s forwards;
  }
  &:nth-of-type(10) {
    left: 58%;
    height: 56px;
    animation: drip_one_two 1.0s forwards;
  }
  &:nth-of-type(11) {
    left: 55%;
    height: 200px;
    animation: drip_one_two_three 1.0s forwards;
  }
  &:nth-of-type(12) {
    left: 62%;
    height: 200px;
    animation: drip_one_two_three_four 1.0s forwards;
  }
  &:nth-of-type(13) {
    left: 60%;
    height: 200px;
    animation: drip_one_two_three_four 1.0s forwards;
  }


  &:nth-of-type(14) {
    height: 56px;
    animation: large_left 1.0s forwards;
  }

  &:nth-of-type(15) {
    height: 56px;
    animation: large_left_2 1.0s forwards;
  }

  &:nth-of-type(16) {
    left: 0%;
    height: 56px;
    animation: large_right 1.0s forwards;
  }

  &:nth-of-type(17) {
    left: 2%;
    height: 56px;
    animation: large_right_2 1.0s forwards;
  }

  &:nth-of-type(18) {
    left: 90%;
    height: 56px;
    animation: drip_one_two_three_four 1.0s forwards;
  }

  &:nth-of-type(19) {
    left: 94%;
    height: 56px;
    animation: drip_one 1.0s forwards;
  }

  &:nth-of-type(20) {
    left: 88%;
    height: 56px;
    animation: drip_one_two 1.0s forwards;
  }
  &:nth-of-type(21) {
    left: 70%;
    height: 56px;
    animation: large_right 1.0s forwards;
  }

  &:nth-of-type(22) {
    left: 95%;
    height: 56px;
    animation: large_right 1.0s forwards;
  }
}

// Animation keyframes
@keyframes drip_one {
  from { top:-40px; height: 56px; width: 30px}
  to { top: 104%; height: 500px; width: 60px}
}
@keyframes drip_one_two {
  from { top:-40px; height: 56px; width: 30px}
  to { top: 104%; height: 800px; width: 60px}
}
@keyframes drip_one_two_three {
  from { top:-40px; height: 56px; width: 60px}
  to { top: 104%; height: 400px; width: 190px}
}
@keyframes drip_one_two_three_four {
  from { top:-40px; height: 56px; width: 60px}
  to { top: 104%; height: 400px; width: 190px}
}

@keyframes drip_plug_one {
  from { top:-40px; height: 56px; width: 200px}
  to { top: 104%; height: 250px; width: 1200px}
}
@keyframes drip_plug_two {
  from { top:-40px; height: 56px; width: 6%}
  to { top: 104%; height: 250px; width: 10%}
}
@keyframes drip_plug_three {
  from { top:-40px; height: 56px; width: 6%}
  to { top: 104%; height: 600px; width: 12%}
}

@keyframes large_left {
  from { top: -80px; height: 60px; width: 90% }
  to { top: 102%; height: 140px; width: 90% }
}

@keyframes large_left_2 {
  from { top: -60px; height: 60px; width: 40% }
  to { top: 102%; height: 180px; width: 60% }
}

@keyframes large_right {
  from { top: -60px; height: 60px; width: 20% }
  to { top: 102%; height: 320px; width: 30% }
}

@keyframes large_right_2 {
  from { top: -60px; height: 60px; width: 10% }
  to { top: 102%; height: 800px; width: 12% }
}

@keyframes liquid {
  from { height: -20px; }
  to { height: 109%; }
}